.header-component-wrapper {
  width: 100vw;
  height: 75px;

  background-color: royalblue;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-button {
  margin: 10px;
}


.active-route {
  background-color: royalblue;
}
