.wrapper {
  display: flex;
  width: 100vw;
  height: calc(100vh - 75px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-alignment-item {
  text-align: center;
}

.submit-get-person {
  border-radius: 10px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inner-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding-left: 50px;
  padding-right: 50px;
}

.submit-action-person {
  border-radius: 10px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
